{% extends "main/base.html" %}
{% block title %}Mi Perfil{% endblock %}
{% block content %}

<h2 class="text-center mb-4">👤 Mi Perfil</h2>

<div class="container col-md-6">

  {% if perfil.imagen %}
    <div class="text-center mb-3">
      <img src="{{ perfil.imagen.url }}" class="img-thumbnail" width="150">
    </div>
  {% else %}
    <p class="text-center">No tienes imagen de perfil todavía.</p>
  {% endif %}

  <form method="post" enctype="multipart/form-data">
    {% csrf_token %}
    {{ perfil_form.as_p }}

    <div class="text-center mt-3">
      <a href="{% url 'usuarios:perfil_detalle' perfil.id %}" class="btn btn-info">
        🔎 Ver Detalle
      </a>
      <button class="btn btn-primary">💾 Guardar Cambios</button>
    </div>
  </form>

</div>

{% endblock %}

